
<link rel="stylesheet" href="../static/About.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">About.</h1>

                <p>
                        TвојМаркет е систем кој служи да ги лоцира и истовремено да ги прикаже на мапа сите маркети кои
                    се наоѓаат во општината Карпош. Истиот обезбедува и филтрирање на моментално отворените маркети како
                    и додатни информации за секои од нив.<br>
                        Бидејќи системот го опфаќа регионот на општина Карпош, се очекува дека системот ќе биде користен.
                    како од локалното население, така и од надвор од овој регион кои имаат далеку поголема потреба
                    од еден ваков систем.
                </p>

        </div>


        <img src="rubixcube.png" height="1024" width="1024"/></section>
</div> 