<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>Products</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--</head>-->
<!--<body>-->
<!--<header th:replace="fragments/header"/>-->

<!--<section th:include="${bodyContent}">-->
<!--</section>-->

<div xmlns:th="http://www.thymeleaf.org">
    <th:block >
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Твој Маркет</h1>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <form action="/markets/add" method="POST">
                        <div class="form-group">
                            <!--                            <label for="id">Id: </label>-->
                            <input type="text"
                                   class="form-control"
                                   id="id"
                                   hidden="hidden"
                                   name="id"
                                   th:value="(${market} != null ? ${market.getId} : '')"
                                   placeholder="Enter market id">
                        </div>
                        <div class="form-group">
                            <label for="lat">Latitude: </label>
                            <input type="text"
                                   class="form-control"
                                   id="lat"
                                   name="latitude"
                                   th:value="(${market} != null ? ${market.getLatitude()} : '')"
                                   required
                                   placeholder="Enter market latitude">
                        </div>
                        <div class="form-group">
                            <label for="long">Longitude: </label>
                            <input type="text"
                                   class="form-control"
                                   id="long"
                                   name="longitude"
                                   th:value="(${market} != null ? ${market.getLongitude()} : '')"
                                   required
                                   placeholder="Enter market longitude">
                        </div>
                        <div class="form-group">
                            <label for="name">Market name</label>
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   name="name"
                                   th:value="(${market} != null ? ${market.getName()} : '')"
                                   required
                                   placeholder="Enter market name">
                        </div>
                        <div class="form-group">
                            <label for="address">Address: </label>
                            <input type="text"
                                   class="form-control"
                                   id="address"
                                   name="address"
                                   th:value="(${market} != null ? ${market.getAddress()} : '')"
                                   required
                                   placeholder="Enter market address">
                        </div>
                        <div class="form-group">
                            <label for="opening">Opening hours: </label>
                            <input type="time"
                                   class="form-control"
                                   id="opening"
                                   name="opening"
                                   th:value="(${market != null && market.getOpeningHours() != null} ? ${market.getOpeningHour()} : '')"
                                   required
                                   placeholder="Enter market opening hours">
                        </div>
                        <div class="form-group">
                            <label for="closing">Closing hours: </label>
                            <input type="time"
                                   class="form-control"
                                   id="closing"
                                   name="closing"
                                   th:value="(${market != null && market.getOpeningHours() != null} ? ${market.getClosingHour()} : '')"
                                   required
                                   placeholder="Enter market closing hours">
                        </div>
                        <div class="form-group">
                            <label for="website">Website: </label>
                            <input type="text"
                                   class="form-control"
                                   id="website"
                                   name="website"
                                   th:value="(${market} != null ? ${market.getWebSite()} : '')"
                                   required
                                   placeholder="Enter market website">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number: </label>
                            <input type="text"
                                   class="form-control"
                                   id="phone"
                                   name="phoneNumber"
                                   th:value="(${market} != null ? ${market.getPhoneNumber()} : '')"
                                   required
                                   placeholder="Enter market phone number">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a type="button" class="btn btn-primary" href="/markets">Back</a>
                    </form>
                </div>
            </div>
        </div>


    </th:block>
</div>


<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<footer th:replace="fragments/footer"/>-->

<!--</body>-->
<!--</html>-->
