
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/Confirm-delete.css">
<div xmlns:th="http://www.thymeleaf.org">

    <div class="container">

        <div class="row" id="roww">
            <div id="main">
                <h1>Delete.</h1>
                <h2>Market</h2>
            </div>
            <h3><b>Are you sure you want to delete this market?</b></h3>
            <h3 th:text="${market.getName()}"></h3>
            <div class="col-xs-6">
                <dl class="dl-horizontal">
                    <div class="row">
                        <dt>
                            <label><b>Longitude: </b></label>
                        </dt>

                        <dd>
                            <i><strong th:text="${market.getLongitude()}"></strong></i>
                        </dd>
                    </div>

                    <div class="row">
                        <dt>
                            <label><b>Latitude: </b></label>
                        </dt>

                        <dd>
                            <i><strong th:text="${market.getLatitude()}"></strong></i>
                        </dd>
                    </div>

                    <div class="row">
                        <dt>
                            <label><b>Name: </b></label>
                        </dt>

                        <dd>
                            <i><strong th:text="${market.getName()}"></strong></i>
                        </dd>
                    </div>

                    <div class="row">
                        <dt>
                            <label><b>Address: </b></label>
                        </dt>

                        <dd>
                            <i><strong th:text="${market.getAddress()}"></strong></i>
                        </dd>
                    </div>

                    <div class="row">
                        <dt>
                            <label><b>Opening hours: </b></label>
                        </dt>

                        <dd>
                            <i><strong th:text="${market.getOpeningHours()}"></strong></i>
                        </dd>
                    </div>

                    <div class="row">
                        <dt>
                            <label><b>Website: </b></label>
                        </dt>


                    </div>

                    <div class="row">
                        <dt>
                            <label><b>Phone number: </b></label>
                        </dt>

                        <dd>
                            <i><strong th:text="${market.getPhoneNumber()}"></strong></i>
                        </dd>
                    </div>

                </dl>

                <div class="row" id="buttons">
                    <form th:action="@{'/markets/delete/{id}' (id=${market.getId()})}" th:method="POST">
                        <button type="submit" class="btn btn-sm btn-danger"><i
                                class="fa fa-trash">Delete</i></button>
                    </form>
                    <a type="button" class="btn btn-primary" href="/markets">Back</a>
                </div>
            </div>
        </div>
    </div>



</div>