<section class="jumbotron text-center">
    <div class="container">
        <h4>Contact us at: tvoj.market5@gmail.com</h4>
        <form action="mailto:tvoj.market5@gmail.com" method="post" enctype="text/plain">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"><br>

        <label for="mail">E-mail:</label>
        <input type="text" name="mail" id="mail"><br>

        <label for="message">Message:</label>
        <textarea name="message" size="50" id="message"></textarea><br>
        <br>
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
    </form>
    </div>
</section>