<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/Contact.css">
<section class="jumbotron text-center">
    <div class="container">
        <h1>Contact us</h1>
        <h2>tvojmarket@gmail.com</h2>
        <div id="main">
            <form action="mailto:tvoj_market@gmail.com" method="post" enctype="text/plain">
                <label for="name"><b>Your name*</b></label>
                <input type="text" name="name" id="name"><br>
                <br>

                <label for="mail"><b>Your email*</b></label>
                <input type="text" name="mail" id="mail"><br>
                <br>
                <div id="send">
                    <label for="message"><b>Your message</b></label>
                    <textarea type="text" name="message" size="50" id="message"></textarea><br>
                </div>
                <br>
                <br>
                <input id="button" type="submit" value="Send your message">
        </div>
    </form>
    </div>
</section>