<div xmlns:th="http://www.thymeleaf.org">

    <th:block>
        <div class="container">
            <h4>Market</h4>
            <hr/>
            <div class="row">
                <div class="col-xs-6">
                    <dl class="dl-horizontal">
                        <div>
                            <dt>
                                <label>Longitude: </label>
                            </dt>

                            <dd>
                                <i><strong th:text="${market.getLongitude()}"></strong></i>
                            </dd>
                        </div>

                        <div>
                            <dt>
                                <label>Latitude: </label>
                            </dt>

                            <dd>
                                <i><strong th:text="${market.getLatitude()}"></strong></i>
                            </dd>
                        </div>

                        <div>
                            <dt>
                                <label>Name: </label>
                            </dt>

                            <dd>
                                <i><strong th:text="${market.getName()}"></strong></i>
                            </dd>
                        </div>

                        <div>
                            <dt>
                                <label>Address: </label>
                            </dt>

                            <dd>
                                <i><strong th:text="${market.getAddress()}"></strong></i>
                            </dd>
                        </div>

                        <div>
                            <dt>
                                <label>Opening hours: </label>
                            </dt>

                            <dd>
                                <i><strong th:text="${market.getOpeningHours()}"></strong></i>
                            </dd>
                        </div>

                        <div>
                            <dt>
                                <label>Website: </label>
                            </dt>

                            <dd>
                                <i><a th:href="${market.getWebSite()}">Go to site!</a></i>
                            </dd>
                        </div>

                        <div>
                            <dt>
                                <label>Phone number: </label>
                            </dt>

                            <dd>
                                <i><strong th:text="${market.getPhoneNumber()}"></strong></i>
                            </dd>
                        </div>

                    </dl>
                </div>
                <div class="col-xs-6">
<!--                    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"-->
<!--                            src="https://www.openstreetmap.org/export/embed.html?bbox=21.280174255371094%2C41.966893394601335%2C21.440849304199222%2C42.05196946062722&amp;layer=mapnik"-->
<!--                            style="border: 1px solid black">-->
<!--                    </iframe>-->
<!--                    <br/>-->
<!--                    <small>-->
<!--                        <a th:href="${'https://www.openstreetmap.org/#map=13/@Model.Latitude/@Model.Longitude'}">View Larger Map</a>-->
<!--                    </small>-->
                    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://www.openstreetmap.org/export/embed.html?bbox=21.32102966308594%2C41.951579641560215%2C21.481704711914062%2C42.03667617170297&amp;layer=mapnik&amp;marker=41.99414212858196%2C21.4013671875"
                            style="border: 1px solid black">
                    </iframe>
                    <br/>
                    <small>
                        <a href="https://www.openstreetmap.org/?mlat=41.9941&amp;mlon=21.4014#map=13/41.9941/21.4014">
                            View Larger Map
                        </a>
                    </small>

            </div>


        </div>
        <p>
            <!--        @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |-->
            <!--        @Html.ActionLink("Back to List", "Index")-->
            <a th:href="@{'/markets/edit-form/{id}' (id=${market.getId()})}" class="btn btn-sm btn-info">
                <i class="fa fa-trash">Edit</i>
            </a>
            <a type="button" class="btn btn-primary" href="/markets">Back</a>

        </p>
    </th:block>

</div>