<link rel="stylesheet" href="../static/Home.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Твој маркет</h1>

            <p>
                <b><i>Апликација која ги лоцира сите маркети кои се наоѓаат во општина Карпош. Само со еден клик имате се за вашиот маркет.</i></b>
            </p>

            <a id="button" class="btn btn-sm btn-primary" th:href="@{/markets}">Learn more >></a>
        </div>
    </section>
</div>