section{
    background-image: url("app background.jpg");
    background-repeat: no-repeat;
    height: 800px;
}
.container{
    background: whitesmoke;
    opacity: 0.7;
    height: 300px;
    width: 600px;
    padding-top: 100px;
    position: relative;
    top:0px;
    border-radius: 0px 0px 70px 0px;
}
h1{
    font-size: 70px;
    position: relative;
    bottom:150px;
    color: #122b40;
    left:70px;
    text-shadow: 2px 2px gray;
}
p{
    font-family:Arial;
    font-size:24px;
    opacity: 0.5;
    position: relative;
    bottom:180px;
    padding-left: 50px;
    padding-right: 50px;
}
#button{
    background: darkgray;
    padding:15px;
    border-radius:10px;
    border: #737373 2px solid;
    position: relative;
    left: 50px;
    bottom:170px;

}